/* 应用程序外置框架样式 */
.application-framework {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 10s linear infinite;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 核心样式 */
.application-load {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background-size: cover;
}
.application-core {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #c9beab;
  top: 0px;
  left: 0px;
  display: none;
  background-size: cover;
}
.load-text {
  position: absolute;
  width: 80%;
  height: 15%;
  overflow: scroll;
  left: 10%;
  outline: 1px gray solid;
  box-shadow: 0 5px 14px rgba(51, 102, 255, 0.24);
  border-radius: 20px;
  bottom: 10%;
  backdrop-filter: blur(25px);
  z-index: 10;
  color: #abeeff;
}
.load-text > p {
  color: #abeeff;
  text-align: center;
}
.app-content {
  position: relative;
  width: 100%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app-nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
}
.music-coll {
  position: relative;
  height: 100%;
  width: 75%;
  transition: all 250ms linear 0ms;
}
.nav-core {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 25%;
  background-color: white;
  border-top-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 4px 8px 0px inset;
}
.ico-mod {
  height: 74%;
  float: left;
  position: relative;
  top: 15%;
  left: 15%;
}
.icon-img {
  width: 100%;
  height: 100%;
}
.ico-user {
  height: 90%;
  float: right;
  position: relative;
  top: 5%;
  right: 10%;
}
.mod {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.user {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.content-list{
  box-shadow: rgb(77,91,124) 0px 0px 0px 1px inset;
  backdrop-filter: blur(20px);
  width: 94%;
  position: relative;
  left: 3%;
  top: 10px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
}
.content-music-mod{
  position: relative;
  width: 94%;
  left: 3%;
  height: 270px;
  outline: 1px solid gray;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}
.music-title-mod{
  position: relative;
  left: 2%;
  text-align: left;
  font-size: 1.5rem;
  color: white;
  top: 5%;
  height: 5%;
}
.putmod{
  position: absolute;
  outline: 1px solid gray;
  width: 96%;
  left: 2%;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 75%;
  top: 20%;
  border-radius: 15px;
}
.controller{
  position: absolute;
  right: 3%;
  top: 7.5px;
  width: 40%;
  height: 50px;
}
.mod-colltrol{
  position: relative;
  height: 100%;
  width: 120%;
  margin: 0px;
  padding: 0px;
}
.marklet-colltrol{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.box-ses{
  float: left;
  margin: 0px;
  padding: 0px;
  width: 30%;
  height: 100%;
  position: relative;
  margin-right: calc((100% - 30% * 3) / 3);
  border-radius: 15px;
  overflow: hidden;
}
.box-ses > img{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 85%;
}
.box-ses > span{
  width: 100%;
  height: 15%;
  left: 0px;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
}
.mus-coll{
  outline: 1px solid black;
  width: 86%;
  position: relative;
  height: 80%;
  top: 10%;
  left: 7%;
  border-radius: 99999px;
  background-color: white;
  box-shadow: rgb(45, 45, 45) 0px 0px 10px 0px inset;
}
.mus-img{
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-name: rote;
  float: left;
  transition: all 200ms linear 0ms;
}
.mus-img > img{
  transition: all 200ms linear 0ms;
}
.mus-tit{
  height: 40px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 200px;
  left: 10%;
}
#tarr{
  width: 250px;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.tn{
  width: 100%;
  height: 100%;
}
.mus-kbd{
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  float: right;
  z-index: 99;
}
.mus-name{
  position: relative;
  left: 10px;
  width: 100%;
  text-align: left;
  line-height: 40px;
  font-size: 1.3rem;
  color: #730000;
}
.qq-page,.search-page{
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.marklet{
  margin-top: 20px;
}
.searchm{
  width: 65%;
  outline: 1px solid rgb(255, 255, 255);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 999999px;
}
.qqm-coll{
  position: absolute;
  width: 100%;
  height: calc(100% - 200px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.searchm > .searchid{
  font-weight: 800;
  line-height: 50px;
  position: absolute;
  left: 10px;
  color: white;
  font-size: 0.8rem;
}
.searchm > .searchimg{
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0px;
  top: 0px;
}
.showThis{
  transition: all 600ms linear 0ms;
  outline: 1px solid orange;
  color: red;
}
.setting-page{
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

/* 特定加载样式 */
@keyframes rote{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}
.a-card {
  border-radius: 1.25rem;
  width: 90%;
  position: relative;
  left: 3%;
  top: 10px;
  height: 70px;
}
.a-loader {
  position: relative;
  top: 10px;
  color: #9e0000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}
.a-loader > p{
  color: #ccd7fc;
  font-weight: 800;
  font-size: 1.1rem;
}
.a-words {
  overflow: hidden;
  position: relative;
}
.a-words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.a-word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #c9b1ff;
  animation: spin_4991 10s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.loader {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
}

.loader > span {
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #000;
  border-bottom: 6px solid transparent;
}

.base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -110px;
  top: -16px;
}

.base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #000;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #000;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #000;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.loader > span > span:nth-child(1),
.loader > span > span:nth-child(2),
.loader > span > span:nth-child(3),
.loader > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.loader > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.loader > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.loader > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }

  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }

  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }

  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }

  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }

  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }

  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #000;
}

.longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}

.longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}

.longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}

.longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}
