.like-page, .aboutus-page, .download-page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
.likem-head{
    position: relative;
    width: 100%;
    height: 200px;
    background-size:auto;
    background-position: 50%;
    background-image: url(../../images/icon/like_bg.png);
}
.likem-head > p{
    position: absolute;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: left;
    bottom: 10px;
    left: 10px;
    width: 100%;
}
.likem-coll{
  position: absolute;
  width: 100%;
  height: calc(100% - 200px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.like-music-coll{
    position: relative;
    width: 90%;
    height: 70px;
    margin-top: 20px;
    margin-left: 5%;
    outline: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(50px);
}
.like-music-coll > img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 70px;
}
.like-music-coll > span{
    position: absolute;
    left: 90px;
    font-size: 1.7rem;
    top: 15%;
    color: white;
}
.like-music-coll > p{
    position: absolute;
    left: 90px;
    font-size: 1rem;
    bottom: 2%;
    color: #c8c8c8;
}