.user-infomation{
    /* outline: 1px solid red; */
    width: 100%;
    height: 500px;
    position: relative;
}
.user-infomation > img{
    height: 100%;
}
.user-contin{
    /* outline: 1px solid blue; */
    position: relative;
    width: 100%;
    height: 80px;
}
.user-musiclist{
    /* outline: 1px solid orange; */
    position: relative;
    width: 100%;
    height: calc(100% - 80px - 500px);
}
.user-data{
    width: 94%;
    height: 410px;
    box-shadow: 0 4px 16.1638px 0 rgba(0,0,0,0.14), 0 2px 7.83618px 0 rgba(0,0,0,0.06);
    position: relative;
    left: 3%;
    top: 20px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    outline: 1px solid gray;
}
.ud-img{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    top: 20px;
    left: 50%;
    outline: 1px solid black;
    transform: translateX(-50%);
}
.ud-img > img{
    width: 100%;
    height: 100%;
}
.ud-name{
    border-bottom: 1px solid black;
    width: 80%;
    height: 30px;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    overflow: hidden;
}
.ud-name > p{
    position: relative;
    bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2rem;
    color: white;
}
.ud-title{
    width: 90%;
    position: relative;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    overflow: hidden;
}
.ud-title > p{
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 1rem;
    color: white;
}
.ud-noc{
    width: 96%;
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 2%;
    border-radius: 10px;
}
.udn-coll{
    width: 23%;
    margin-left: 7.75%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 9px 20px 0 rgba(46,35,94,0.3);
    backdrop-filter: blur(30px);
    outline: 1px solid gray;
    overflow: hidden;
    float: left;
    position: relative;
}
.udn-coll > img{
    position: relative;
    width: 70%;
    left: 15%;
    aspect-ratio: 1/1;
    top: 5%;
}
.udn-coll > p{
    text-align: center;
    position: relative;
    top: 10%;
    color: rgb(210, 210, 210);
}
.fadPage{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}